body {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

button {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
}